<div class="row" id="trabajos">
    <h1 id="titulo">Educación</h1>

    <div class="col-lg-11">
        <ul>
            <li>
                <a href="https://exactas.uba.ar/">
                    <img src="../../../assets/exactas.jpg" id="estimg" />
                </a>
                <h1>Licenciatura en Ciencias Biológicas</h1>
                <h2 id="año">(2019 - a la fecha)</h2>
                <h2>Facultad de Ciencias Exactas y Naturales de la Universidad de Buenos Aires</h2>
                <h2>4to año en curso</h2>
            </li>
            <li>
                <a href="https://exactas.uba.ar/">
                    <img src="../../../assets/cnba.jpg" id="estimg" />
                </a>
                <h1>Estudios Secundarios Completos</h1>
                <h2 id="año">(2014 - 2018)</h2>
                <h2>Colegio Nacional de Buenos Aires</h2>
                <h2>Título: Bachiller</h2>
            </li>
            <li>
                <a href="https://lyceemermoz.edu.ar/v5/">
                    <img src="../../../assets/liceo.jpg" id="estimg" />
                </a>
                <h1>Estudios Primarios Completos</h1>
                <h2 id="año">(2004 - 2013)</h2>
                <h2>Liceo Franco-Argentino Jean Mermoz</h2>
            </li>
        </ul>
    </div>
</div>