<div class="row" id="trabajos">
    <h1 id="titulo">Edccación</h1>

    <div class="col-lg-11">
        <ul>
          <li>
            <a href="https://silvinaygustavo.com/">
                <img src="../../../assets/syg.jpg" id="trimg" />
            </a>
            <h1>Licenciatura en Ciencias Biológicas</h1>
            <h2 id="año">(2019 - a la fecha)</h2>
            <h2>Facultad de Ciencias Exactas y Naturales de la Universidad de Buenos Aires</h2>
            </li>
            
            <li>
            <a href="https://lyceemermoz.edu.ar/v5/">
                <img src="../../../assets/liceo.jpg" id="trimg" />
            </a>
            <h1>Animador de actividad deportiva infantil extracurricular </h1>
            <h2 id="año">(2019 - 2021)</h2>
            <h2>Liceo Franco-Argentino Jean Mermoz</h2>
            </li>
        </ul>
    </div>
    

</div>