.row {
    padding: 2%;
    position: absolute;
}

div{
    background-color: rgba(125, 125, 125, 0.925);
    border-radius: 32px;
    margin: 1% 1%;
    padding: 2%;
}

* {margin: 0; padding: 0;}
 
#titulo{
    font-family: Georgia, serif;
    font-size: 45px;
    color: #c3c3c3;
    font-weight: 500;
    font-variant: normal;
    text-shadow: 0px 0px 10px #E50000;
}

li img {
    float: left;
    margin: 0 15px 0 0;
  }
  
li {
  padding: 10px;
  overflow: auto;
}
 

#trimg {
    height: 120px;
    border-radius: 25%;
}
h1, #año{
    display: inline;
}


h2 {
    margin: 1%;
  
}

h1{
    font-family: Georgia, serif;
    font-size: 30px;
}
