<div class="container">
    <div ></div>
    <div ></div>
    <div ></div>
    <div ></div>
    <div ></div>
    <div ></div>
    <div id="nombre">Jorge</div>
    <div ></div>
    <div > <p>boton</p></div>
    <div ></div>
    <div ><p>boton</p></div>
    <div ></div>
    <div id="nombre">Octavio</div>
    <div ></div>
    <div ><p>boton</p></div>
    <div id="foto"><app-foto></app-foto></div>
    <div ><p>boton</p></div>
    <div ></div>
    <div id="nombre">Lannot</div>
    <div ></div>
    <div ></div>
    <div ><p>boton</p></div>
    <div ></div>
    <div ></div>
    <div ></div>
    <div ></div>
    <div ></div>
    <div ></div>
    <div ></div>
    <div ></div>
  </div>
