<div class="row" id="trabajos">
    <h1>Experiencia laboral</h1>
    <div class="col-lg-1"> 
        <img src="../../../assets/yo.jpg" alt="" id="img"> 
    </div>
    <div class="col-lg-11"> 
        <ul>
            <li>
                <h1>trabajo 1</h1> <h3>(years)</h3>
                
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores rerum commodi hic, ipsum enim quod eveniet aliquid omnis quas architecto perferendis, amet quos, deleniti repellendus et? A sed voluptatum necessitatibus.</p>
            </li>
            <li>
                <h1>trabajo 1</h1> <h3>(years)</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores rerum commodi hic, ipsum enim quod eveniet aliquid omnis quas architecto perferendis, amet quos, deleniti repellendus et? A sed voluptatum necessitatibus.</p>
            </li>
            <li>
                <h1>trabajo 1</h1> <h3>(years)</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores rerum commodi hic, ipsum enim quod eveniet aliquid omnis quas architecto perferendis, amet quos, deleniti repellendus et? A sed voluptatum necessitatibus.</p>
            </li>
        </ul>
        
    </div>

</div>