#videoFondo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
  }
html, body , .container {  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 750px 250px 500px 500px;
  min-width: 100%;
  min-height: 100%;
  padding: 0%;
  margin: 0%;
}
