#videoFondo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}
html, body , .container {  
  display: grid;
  min-width: 100%;
  min-height: 100%;
  padding: 0%;
  margin: 0%;
}
