<div class="container">
    <h1>Hard and Soft Skills</h1>
    <div class="row" id="hard">
        <div class="col-6 col-sm-6 col-md-3 col-lg-3 text-center">
            <circle-progress
                [percent]="70"
                [radius]="100"
                [imageSrc]="'../assets/html.png '"
                [showImage]="true"
                [imageHeight]="120"
                [imageWidth]="100"                
                [showUnits]="false"
                [showTitle]="false"
                [outerStrokeWidth]="15"
                [innerStrokeWidth]="15"
                [space]="-15"
                [outerStrokeGradient]="true"
                [outerStrokeColor]="'#ff0000'"
                [outerStrokeGradientStopColor]="'#c92b2b'"
                [innerStrokeColor]="'#4e4e4e'"
                [animation]="true"
                [animationDuration]="600"
            ></circle-progress>
        </div>
        <div class="col-6 col-sm-6 col-md-3 col-lg-3 text-center">
            <circle-progress
                [percent]="60"
                [radius]="100"
                [imageSrc]="'../assets/css.png '"
                [showImage]="true"
                [imageHeight]="120"
                [imageWidth]="100"
                [showUnits]="false"
                [showTitle]="false"
                [outerStrokeWidth]="15"
                [innerStrokeWidth]="15"
                [space]="-15"
                [outerStrokeGradient]="true"
                [outerStrokeColor]="'#ff0000'"
                [outerStrokeGradientStopColor]="'#c92b2b'"
                [innerStrokeColor]="'#4e4e4e'"
                [animation]="true"
                [animationDuration]="600"
                ></circle-progress>
        </div>
        <div class="col-6 col-sm-6 col-md-3 col-lg-3 text-center">
            <circle-progress
                [percent]="40"
                [radius]="100"
                [imageSrc]="'../assets/js.png '"
                [showImage]="true"
                [imageHeight]="120"
                [imageWidth]="100"
                [showUnits]="false"
                [showTitle]="false"
                [outerStrokeWidth]="15"
                [innerStrokeWidth]="15"
                [space]="-15"
                [outerStrokeGradient]="true"
                [outerStrokeColor]="'#ff0000'"
                [outerStrokeGradientStopColor]="'#c92b2b'"
                [innerStrokeColor]="'#4e4e4e'"
                [animation]="true"
                [animationDuration]="600"
                ></circle-progress>
        </div>
        <div class="col-6 col-sm-6 col-md-3 col-lg-3 text-center">
            <circle-progress
                [percent]="80"
                [radius]="100"
                [imageSrc]="'../assets/python.png '"
                [showImage]="true"
                [imageHeight]="130"
                [imageWidth]="130"
                [showUnits]="false"
                [showTitle]="false"
                [outerStrokeWidth]="15"
                [innerStrokeWidth]="15"
                [space]="-15"
                [outerStrokeGradient]="true"
                [outerStrokeColor]="'#ff0000'"
                [outerStrokeGradientStopColor]="'#c92b2b'"
                [innerStrokeColor]="'#4e4e4e'"
                [animation]="true"
                [animationDuration]="600"
                ></circle-progress>
        </div>
    </div>

    <div class="row" id="soft">
        <div class="col-4 col-sm-4 col-md-2 col-lg-2 text-center">
            <circle-progress
            [percent]="70"
            [radius]="100"
            [imageSrc]="'../assets/html.png '"
            [showImage]="true"
            [imageHeight]="120"
            [imageWidth]="100"                
            [showUnits]="false"
            [showTitle]="false"
            [outerStrokeWidth]="15"
            [innerStrokeWidth]="15"
            [space]="-15"
            [outerStrokeGradient]="true"
            [outerStrokeColor]="'#ff0000'"
            [outerStrokeGradientStopColor]="'#c92b2b'"
            [innerStrokeColor]="'#4e4e4e'"
            [animation]="true"
            [animationDuration]="600"
        ></circle-progress>
        </div>
        <div class="col-4 col-sm-4 col-md-2 col-lg-2 text-center">
            <circle-progress
            [percent]="70"
            [radius]="100"
            [imageSrc]="'../assets/html.png '"
            [showImage]="true"
            [imageHeight]="120"
            [imageWidth]="100"                
            [showUnits]="false"
            [showTitle]="false"
            [outerStrokeWidth]="15"
            [innerStrokeWidth]="15"
            [space]="-15"
            [outerStrokeGradient]="true"
            [outerStrokeColor]="'#ff0000'"
            [outerStrokeGradientStopColor]="'#c92b2b'"
            [innerStrokeColor]="'#4e4e4e'"
            [animation]="true"
            [animationDuration]="600"
        ></circle-progress>
        </div>
        <div class="col-4 col-sm-4 col-md-2 col-lg-2 text-center">
            <circle-progress
            [percent]="70"
            [radius]="100"
            [imageSrc]="'../assets/html.png '"
            [showImage]="true"
            [imageHeight]="120"
            [imageWidth]="100"                
            [showUnits]="false"
            [showTitle]="false"
            [outerStrokeWidth]="15"
            [innerStrokeWidth]="15"
            [space]="-15"
            [outerStrokeGradient]="true"
            [outerStrokeColor]="'#ff0000'"
            [outerStrokeGradientStopColor]="'#c92b2b'"
            [innerStrokeColor]="'#4e4e4e'"
            [animation]="true"
            [animationDuration]="600"
        ></circle-progress>
        </div>
        <div class="col-4 col-sm-4 col-md-2 col-lg-2 text-center">
            <circle-progress
            [percent]="70"
            [radius]="100"
            [imageSrc]="'../assets/html.png '"
            [showImage]="true"
            [imageHeight]="120"
            [imageWidth]="100"                
            [showUnits]="false"
            [showTitle]="false"
            [outerStrokeWidth]="15"
            [innerStrokeWidth]="15"
            [space]="-15"
            [outerStrokeGradient]="true"
            [outerStrokeColor]="'#ff0000'"
            [outerStrokeGradientStopColor]="'#c92b2b'"
            [innerStrokeColor]="'#4e4e4e'"
            [animation]="true"
            [animationDuration]="600"
        ></circle-progress>
        </div>
        <div class="col-4 col-sm-4 col-md-2 col-lg-2 text-center">
            <circle-progress
            [percent]="70"
            [radius]="100"
            [imageSrc]="'../assets/html.png '"
            [showImage]="true"
            [imageHeight]="120"
            [imageWidth]="100"                
            [showUnits]="false"
            [showTitle]="false"
            [outerStrokeWidth]="15"
            [innerStrokeWidth]="15"
            [space]="-15"
            [outerStrokeGradient]="true"
            [outerStrokeColor]="'#ff0000'"
            [outerStrokeGradientStopColor]="'#c92b2b'"
            [innerStrokeColor]="'#4e4e4e'"
            [animation]="true"
            [animationDuration]="600"
        ></circle-progress>
        </div>
        <div class="col-4 col-sm-4 col-md-2 col-lg-2 text-center">
            <circle-progress
            [percent]="70"
            [radius]="100"
            [imageSrc]="'../assets/html.png '"
            [showImage]="true"
            [imageHeight]="120"
            [imageWidth]="100"                
            [showUnits]="false"
            [showTitle]="false"
            [outerStrokeWidth]="15"
            [innerStrokeWidth]="15"
            [space]="-15"
            [outerStrokeGradient]="true"
            [outerStrokeColor]="'#ff0000'"
            [outerStrokeGradientStopColor]="'#c92b2b'"
            [innerStrokeColor]="'#4e4e4e'"
            [animation]="true"
            [animationDuration]="600"
        ></circle-progress>
        </div>
    </div>
    <div class="row" id="idiomas">
        <div class="col-6 col-sm-6 col-md-4 col-lg-4 text-center">
            <circle-progress
            [percent]="70"
            [radius]="100"
            [imageSrc]="'../assets/html.png '"
            [showImage]="true"
            [imageHeight]="120"
            [imageWidth]="100"                
            [showUnits]="false"
            [showTitle]="false"
            [outerStrokeWidth]="15"
            [innerStrokeWidth]="15"
            [space]="-15"
            [outerStrokeGradient]="true"
            [outerStrokeColor]="'#ff0000'"
            [outerStrokeGradientStopColor]="'#c92b2b'"
            [innerStrokeColor]="'#4e4e4e'"
            [animation]="true"
            [animationDuration]="600"
        ></circle-progress>
        </div>
        <div class="col-6 col-sm-6 col-md-4 col-lg-4 text-center">
            <circle-progress
            [percent]="70"
            [radius]="100"
            [imageSrc]="'../assets/html.png '"
            [showImage]="true"
            [imageHeight]="120"
            [imageWidth]="100"                
            [showUnits]="false"
            [showTitle]="false"
            [outerStrokeWidth]="15"
            [innerStrokeWidth]="15"
            [space]="-15"
            [outerStrokeGradient]="true"
            [outerStrokeColor]="'#ff0000'"
            [outerStrokeGradientStopColor]="'#c92b2b'"
            [innerStrokeColor]="'#4e4e4e'"
            [animation]="true"
            [animationDuration]="600"
        ></circle-progress>
        </div>
    </div>
</div>
