.container {
    position: relative;
    min-width: 98%;
    background-color: rgba(125, 125, 125, 0.925);
    border-radius: 32px;
    margin: 1% 1% 1% 1%;
    margin-right: 0%;
    padding: 2%;
}

.row {
    background-color: rgba(125, 125, 125, 0.925);
    border-radius: 32px;
    margin: 1% 1% 1% 1%;
    padding: 2%;
}

h1{
    font-family: Georgia, serif;
    font-size: 45px;
    color: #c3c3c3;
    font-weight: 500;
    font-variant: normal;
    text-shadow: 0px 0px 10px #E50000;
}


#idiomas {
    justify-content: center;
}