<div class="container">
    <div id="jorge" class="col text-center">
      <p id="nombre">Jorge</p> 
    </div>
    <div id="octavio" class="col text-center">
      <p id="nombre">Octavio</p> 
    </div>
    <div id="lannot" class="col text-center">
      <p id="nombre">Lannot</p> 
    </div>
    
    <div id="yo" class="col text-center">
      <app-foto id="foto"></app-foto>
    </div>

    <div id="botones" class="col text-center"> 
      <p>
      <a href="#acerca-de-mi" class="button">
        <button type="button" class="btn btn-light btn-primary" href="#" id="acercademibtn">Acerca de mí</button>
      </a>
      </p>
      <p>
      <a href="#experiencia" class="button">       
        <button type="button" class="btn btn-light btn-primary" id="experienciabtn">Experiencia</button>
      </a>
      </p>
      <p>
        <a href="#educacion" class="button">
          <button type="button" class="btn btn-light btn-primary" id="educacionbtn">Educación</button>
        </a>
      </p> 
      <p>
        <a href="#hardandsoft" class="button">
          <button type="button" class="btn btn-light btn-primary" id="hysbtn">Skills</button>
        </a>
      </p> 
      <p>
        <a href="#" class="button">
          <button type="button" class="btn btn-light btn-secondary" id="proyectosbtn">Proyectos y otros</button>
        </a>
      </p> 
    </div>
    <div id="contacto" class="col text-center"> 
      <p>
        <button type="button" class="btn btn-danger btn-primary btn-lg" id="contactobtn">Contacto</button>
      </p>
    </div>
</div>
