.row {
    position: relative; 
    height: auto;
    width: 100%;
    margin: 0%;
    padding: 1%;
}

#cont_sup{
    padding: 0%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}




