<div class="row">
    <div class="col-12 col-sm-12 col-md-8 col-lg-8" id="acerca-de">
        <div>
            <h1>Acerca de mí</h1>
        </div>
        <div>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dicta sint aliquam eaque aperiam porro ea debitis necessitatibus ad iusto tempore atque quis libero at nihil iure, officia doloribus. Tempore, optio.Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dicta sint aliquam eaque aperiam porro ea debitis necessitatibus ad iusto tempore atque quis libero at nihil iure, officia doloribus. Tempore, optio.Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dicta sint aliquam eaque aperiam</p>
        </div>
    </div>
    <div class="col-6 col-sm-6 col-md-2 col-lg-2" id="titulos">
        <div id="titulo">
            <h2>Estudiante de Biología</h2>
        </div>
        <div id="titulo">
            <h2>Desarrollador Web Full-Stack Jr.</h2>
        </div>
         

    </div>
    <div class="col-6 col-sm-6 col-md-2 col-lg-2 text-center"  id="foto">
        <img src="../../../assets/acercade.png" alt="" id="imagen" class="img-fluid">
    </div>
</div>

