.row {  
    position: relative;
    display: flex;
    margin: 1% 1%;
}

#acerca-de {
    background-color: rgba(125, 125, 125, 0.925);
    border-radius: 32px;
    padding: 2%;
    margin-right: 0px;
}
h1{
    font-family: Georgia, serif;
    font-size: 45px;
    color: #c3c3c3;
    font-weight: 500;
    font-variant: normal;
    text-shadow: 0px 0px 10px #E50000;
    margin: 1% 1% 2% 1%;
}
p{
    background-color: rgba(125, 125, 125, 0.925);
    border-radius: 32px;
    margin: 1% 1%;
    padding: 2%;
}

#titulos {
    align-self: center;
    justify-self: center;
}

#titulo {
    padding: 1% 1%;
    margin: 10% 0% 10% 0%;
    background-color: rgba(125, 125, 125, 0.925);
    border-radius: 32px;

}

h2 {
    margin: 3% 3%;
    text-size-adjust: auto;
    font-family: Georgia, serif;
    font-size: 25px;
    color: #dbdada;
    font-weight: 500;
    font-variant: normal;
    text-shadow: 0px 0px 10px #E50000;
    object-position: center;
    text-align:center;

}

#foto {
    align-self: center;
    justify-self: center;
    vertical-align: middle;
}

#imagen {
    height: auto;
}

