<div class="container">
    <div id="acerca-de">
        <h1>Acerca de mí</h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dicta sint aliquam eaque aperiam porro ea debitis necessitatibus ad iusto tempore atque quis libero at nihil iure, officia doloribus. Tempore, optio.Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dicta sint aliquam eaque aperiam porro ea debitis necessitatibus ad iusto tempore atque quis libero at nihil iure, officia doloribus. Tempore, optio.Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dicta sint aliquam eaque aperiam</p>
    </div>
    <div id="titulos">
        <h2 id="titulo">Estudiante de Biología</h2>
    </div>

    <div id="titulos"> 
        <h2 id="titulo">Desarrollador Web Full-Stack Jr.</h2>
    </div>
    <div id="foto">
        <img src="../../../assets/acercade.png" alt="" id="imagen">
    </div>
</div>

